.table td,
.table th {
	vertical-align: middle;
}

.search-icon {
	position: relative;
	float: right;
	width: 30px;
	height: 30px;
	top: -39px;
	right: 4px;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

td,
th {
	color: #3b3336;
}

th {
	font-size: 18px;
}

td {
	font-size: 15px;
}
